<!DOCTYPE html>
<html>

<head>
  <title>PennyScraper</title>
  <%= stylesheet_link_tag   'application' %>
  <%= javascript_include_tag 'application'  %>
 
  <%= csrf_meta_tags %>
 <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> 

</head>
<body>

<%= yield %>

</body>
</html>
